%div
=form_for [@restaurant, @table, @order] do |f|
  
  / -@restaurant.menus.each do |menu|
  /   -menu.items.each do |item|
  - @items.each do |item|
    / = check_box_tag 'order[item_ids][]', item.id, @order.items.include?(item), {id: "item_id_#{item.id}"}
    / = label_tag "item_id_#{item.id}", "#{item.name} $#{sprintf( "%0.02f", item.price)}"
    / = label_tag "Quantity"
    / = number_field_tag 'order[items][][quantity]', nil, {id: "Quantity"}
    / = label_tag "Modifications"
    / = text_field_tag  'order[items][][mods]', nil, {id: "Modifications"}
    = check_box_tag 'order[order_items][][item_id]', item.id, @order.items.include?(item), {id: "item_id_#{item.id}"}
    = label_tag "item_id_#{item.id}", "#{item.name} $#{sprintf( "%0.02f", item.price)}"
    = label_tag "Quantity"
    = number_field_tag 'order[order_items][][quantity]', nil, {id: "Quantity"}
    = label_tag "Modifications"
    = text_field_tag  'order[order_items][][mods]', nil, {id: "Modifications"}


    %br
  = f.hidden_field :table_id, value: @table.id
  =f.submit

  / order[items][][id] 
  / order[items][][quantity] 
  / order[items][][comments]