%h1.text-center
  =@restaurant.name
  %br
  =@restaurant.description
  %br
  Location:
  =@restaurant.location

%div.row
  %div.col-lg-5
    - @restaurant.menus.each do |menu|
      %h3.text-center
        = menu.name
        %br
      %h4.text-center
        = menu.description
      %ul
      - menu.items.each do |item|
        %li
          = item.name
          = "#{". " * (50 - item.name.length)} $ #{sprintf( "%0.02f", item.price)}"


  %div.col-lg-7
    %h3.text-center
      Tables Go Here
    %ul.nav.nav-pills
      - @restaurant.tables.each do |table|
        %li
          = link_to restaurant_table_path(@restaurant, table) do
            = "Table #{table.number}"
            %span.badge 42




  