/ tried multiple ways to display corresponding images to restaurant id. no success. it looks like it would be much easier in javascript according to google. HAml is correct correct and will display your choice of image if the if-statement is removed.
/ - if @restaurant == 1
/   %img.img-thumbnail{:alt => "200x200", "data-src" => "holder.js/200x200", :src => "/assets/boxcar.png", :style => "width: 200px; height: 200px;"}


/ - if @restaurant == 2
/   %img.img-thumbnail{:alt => "200x200", "data-src" => "holder.js/200x200", :src => "/assets/ray.jpg", :style => "width: 200px; height: 200px;"}
 

/ %img.img-thumbnail{:alt => "200x200", "data-src" => "holder.js/200x200", :src => "/assets/#{@restaurant.name}.png", :style => "width: 200px; height: 200px;"}




%h1.text-center
  =@restaurant.name
  %br
  =@restaurant.description
  %br
  =@restaurant.location

%div.row
  %div.col-lg-5
    %h3.text-center Menu
    - @restaurant.menus.each do |menu|
      %h4.text-center
        = menu.description
      %ul
      - menu.items.each do |item|
        %li
          = item.name
          = "#{". " * (40 - item.name.length)} $ #{sprintf( "%0.02f", item.price)}"


  %div.col-lg-7
    %h3.text-center
      Tables
    %ul.nav.nav-pills
      - @restaurant.tables.each do |table|
        %li
          = link_to restaurant_table_path(@restaurant, table) do
            = "Table #{table.number}"
      %li.active
        = link_to "Add Table", new_restaurant_table_path(@restaurant)



  