
%h1.text-center
  =@item.name


%div.row
  %div.col-lg-4.col-lg-offset-4.text-center
  
    %h3
      = @item.name
    
    %h4
      = @item.price
    = link_to "Edit", edit_menu_item_path(@menu, @item)
    |
    = link_to "Delete", menu_item_path(@menu, @item), method: :delete
  



= link_to "Back", menu_path(@menu)